body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Smaller font size for screens smaller than 600px */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size: 2rem;
  font-weight: bold;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}

.buttonStyle {
  width: 100px;
  height: 40px;
  border-radius: 5px; /* Corrected 'rpx' to '5px' */
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.cancelButtonStyle {
  cursor: pointer;
  font-size: 20px;
  color: red;
  transition: color 0.4s; /* Adding transition to color change */
}

.cancelButtonStyle:hover {
  color: black; /* Changing color on hover */
}

.inputStyle {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  background-color: #fff; /* Set your preferred background color */
  border-radius: 8px; /* Apply border-radius for rounded corners */
}

.shortUrlStyle {
  text-decoration: none; 
  color: blue;
}

.shortUrlStyle:hover {
  text-decoration: underline; 
  color: blue;
}

.tableStyle {
  border-collapse: collapse;
  width: auto;
  word-break: break-all ;
}

.tableCell {
  padding: '8px';
  textAlign: 'left';
  wordWrap: 'break-word';
}

